<ion-header>
  <ion-toolbar>
    <ion-title>Income</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
 

      <ion-row>
        <ion-col>
          <ion-text><h5>Source: </h5></ion-text>
          <ion-input  type="text" [(ngModel)]="name"> </ion-input>
        </ion-col>
      </ion-row>
   
      <ion-row>
        <ion-col>
          <ion-text><h5>Amount: </h5></ion-text>
          <ion-input  type="number" [(ngModel)]="amount"> </ion-input>
        </ion-col>
      </ion-row>
     
      <!---<ion-row>
        <ion-col>
          <ion-text><h5>Category: </h5></ion-text>
          <ion-input  type="text" [(ngModel)]="category"> </ion-input>
        </ion-col>
      </ion-row>-->

      <ion-row>
        <ion-col>
          <ion-list>
            <ion-radio-group value="category">
              <ion-list-header>
                <ion-text><h5>Category: </h5></ion-text>
              </ion-list-header>
              <ion-item>
                <ion-label>Active Income</ion-label>
                <ion-radio slot="start" value="active"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Passive Income</ion-label>
                <ion-radio slot="start" value="passive"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div class="center">
          <ion-button (click)="enterArray()">
            Save
          </ion-button>
        </div>
        </ion-col>
      </ion-row>

      
  
  </ion-grid>

</ion-content>
