<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Net Worth</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-card>
      <!-- (click)="openAsset()" -->
      <ion-card-header>
        <ion-card-title>ASSET</ion-card-title>
        <!-- <ion-card-subtitle>Total Asset</ion-card-subtitle>
        <h3>MYR: </h3> -->
        
      </ion-card-header>
      <ion-card-content>
        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button color="warning" (click)="openAsset()">
            <ion-icon color="dark" name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>
        <ion-row>
          <ion-col> 
            <ion-text >
              <h5>Cash: </h5>
            </ion-text>
            <ion-input  type="number" [(ngModel)]="cash"> </ion-input>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col>
            <ion-text >
              <h5>Stock: </h5>
            </ion-text>
            <ion-input  type="number" [(ngModel)]="stock"> </ion-input>
          </ion-col>
        </ion-row>
    
        <ion-row>
         <ion-col>
           <ion-text >
             <h5>Tabung Haji: </h5>
           </ion-text>
           <ion-input  type="number" [(ngModel)]="tabunghaji"> </ion-input>
         </ion-col>
       </ion-row>
    
       <ion-row>
         <ion-col>
           <ion-text >
             <h5>Unit Trust: </h5>
           </ion-text>
           <ion-input  type="number" [(ngModel)]="unittrust"> </ion-input>
         </ion-col>
       </ion-row>
    
       <ion-row>
         <ion-col>
           <ion-text >
             <h5>Property: </h5>
           </ion-text>
           <ion-input  type="number" [(ngModel)]="property"> </ion-input>
         </ion-col>
       </ion-row>

       <ion-row>
        <ion-col>
          <ion-text >
            <h1>Total Asset </h1>
            <h1>MYR: {{cash}} </h1>
          </ion-text>
        </ion-col>
      </ion-row>
       
      </ion-card-content>
      
    </ion-card>
    <ion-card >
      <ion-card-header>
        <ion-card-title>LIABILITY</ion-card-title>
      </ion-card-header>
      <ion-card-content>  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="warning"(click)="openLiability()">
          <ion-icon color="dark" name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-row>
        <ion-col> 
          <ion-text >
            <h5>Property: </h5>
          </ion-text>
          <ion-input  type="number" [(ngModel)]="property"> </ion-input>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col>
          <ion-text >
            <h5>Car: </h5>
          </ion-text>
          <ion-input  type="number" [(ngModel)]="car"> </ion-input>
        </ion-col>
      </ion-row>
  
      <ion-row>
       <ion-col>
         <ion-text >
           <h5>Personal loan: </h5>
         </ion-text>
         <ion-input  type="number" [(ngModel)]="personalLoan"> </ion-input>
       </ion-col>
     </ion-row>
  
     <ion-row>
       <ion-col>
         <ion-text >
           <h5>Credit Card: </h5>
         </ion-text>
         <ion-input  type="number" [(ngModel)]="creditCard"> </ion-input>
       </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        <ion-text >
          <h1>Total Liability </h1>
          <h1>MYR: {{liability}} </h1>
        </ion-text>
      </ion-col>
    </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>
