<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Asset</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-card>
      <ion-card-header>
        <ion-card-title>New Asset</ion-card-title>
        <ion-card-subtitle>Name:</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-input  type="text" [(ngModel)]="asset.name"> </ion-input>
      </ion-card-content>
      <ion-row>
        <ion-col>
      
          <ion-button color="warning" expand="full" (click)="masukDalamAsset()">
            Save
          </ion-button>
      
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>
