<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Goals</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-card class="ion-padding">
    <ion-row>
      <ion-col> 
        <ion-text >
          <h5>Target: </h5>
        </ion-text>
        <ion-input [(ngModel)]="cash"> </ion-input>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-text >
          <h5>Modal Diperlukan: </h5>
        </ion-text>
        <ion-input [(ngModel)]="modalDiperlukan"> </ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text >
          <h5>Tarikh Capai: </h5>
        </ion-text>
        <ion-input [(ngModel)]="bilaCapai"> </ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="center">
        <ion-button (click)="simpanGoals()">
          Generate
        </ion-button>
      </div>
      </ion-col>
    </ion-row>

    <ion-item-divider></ion-item-divider>

    <ion-row>
      <ion-col>
        <ion-text >
          <h5>Saving Bulanan: </h5>
        </ion-text>
     </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text >
          <h5>Umur Ketika Itu: </h5>
        </ion-text>
     </ion-col>
    </ion-row>

    <ion-row>
      <ion-list >
        <ion-item *ngFor="let target of goals">
          {{target}}
        </ion-item>
      </ion-list>
    </ion-row>
    </ion-card>

    <ion-row>
      <ion-col>
        <div class="center">
        <ion-button>
          Cadangan Modal Yang Diperlukan
        </ion-button>
      </div>
      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>



