<ion-header>
  <ion-toolbar>
    <ion-title>Expenses</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text><h5>Name: </h5></ion-text>
        <ion-input  type="text" [(ngModel)]="expense.name"> </ion-input>
      </ion-col>
    </ion-row>
 
    <ion-row>
      <ion-col>
        <ion-text><h5>Amount: </h5></ion-text>
        <ion-input  type="number" [(ngModel)]="expense.amt"> </ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="center">
        <ion-button expand="full" (click)="saveExpense()">
          Save
        </ion-button>
      </div>
      </ion-col>
    </ion-row>
    </ion-grid>
</ion-content>
