<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   -->
<!-- 
 <ion-grid>
    
    
    <ion-card class="ion-padding">
    <ion-row>
      <ion-col> 
        <ion-text >
          <h5>Name: </h5>
        </ion-text>
        <ion-input [(ngModel)]="nama"> </ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text >
          <h5>Age: </h5>
        </ion-text>
        <ion-input [(ngModel)]="age"> </ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <!-- {{nama}} -->
        <!-- {{age}} -->
      <!-- </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="center">
        <ion-button (click)="masukDalamArray()">
          Save
        </ion-button>
      </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-list >
        <ion-item *ngFor="let nama of namaArray">
          {{nama}}
          {{age}}
        </ion-item>
      </ion-list>
    </ion-row>
    </ion-card>

   


  </ion-grid> -->

  <ion-header>
    <ion-toolbar color="success">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content clas="ion-padding">
  
    <ion-grid>
      <!-- <ion-card color="danger"> -->
        <!-- <ion-card-header> -->
          <!-- <ion-card-subtitle> -->
            <ion-row>
              <ion-col size-md="8" offset-md="2">
                <ion-text color="success" style="text-align:center">
                  <H2>Personal Info</H2>
                </ion-text>
              </ion-col>
            </ion-row>
          <!-- </ion-card-subtitle> -->
        <!-- </ion-card-header> -->
        <!-- </ion-card> -->

        <ion-row>
          <ion-col size-md="4" offset-md="4">
            <ion-item>
              <ion-icon slot="end" name="pencil-outline"></ion-icon>
              <ion-input type="string" placeholder="Full Name">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

      <ion-row>
        <ion-col size-md="4" offset-md="4">
          <ion-item>
            <ion-icon slot="end" name="body"></ion-icon>
            <ion-label>Gender</ion-label>
            <ion-select multiple="false">
              <ion-select-option value="Male" selected>Male</ion-select-option>
              <ion-select-option value="Female" selected>Female</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-md="4" offset-md="4">
          <ion-item>
            <ion-icon slot="end" name="heart"></ion-icon>
            <ion-label>Marital Status</ion-label>
            <ion-select multiple="false">
              <ion-select-option value="Single" selected>Single</ion-select-option>
              <ion-select-option value="Married" selected>Married</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-md="4" offset-md="4">
          <ion-item>
            <ion-icon slot="end" name="laptop"></ion-icon>
            <ion-label>Occupation</ion-label>
            <ion-select multiple="false">
              <ion-select-option value="Salaried" selected>Salaried</ion-select-option>
              <ion-select-option value="Self employed" selected>Self employed</ion-select-option>
              <ion-select-option value="Professional" selected>Professional</ion-select-option>
              <ion-select-option value=">Others" selected>Others</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

     
       
        
     
      <ion-row>
        <ion-col size-md="4" offset-md="4">
          <ion-item>
            <ion-icon slot="end" name="home"></ion-icon>
            <ion-label>Date of Birth</ion-label>
            <ion-datetime value=""></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-md="4" offset-md="4">
          <ion-item>
            <ion-icon slot="end" name="bookmark"></ion-icon>
            <ion-label>City</ion-label>
            <ion-select multiple="false">
              <ion-select-option value="Melaka" selected>Melaka</ion-select-option>
              <ion-select-option value="Negeri Sembilan" selected>Negeri Sembilan</ion-select-option>
              <ion-select-option value="Johor" selected>Johor</ion-select-option>
              <ion-select-option value=">Selangor" selected>Selangor</ion-select-option>
              <ion-select-option value=">Perlis" selected>Perlis</ion-select-option>
              <ion-select-option value=">Kedah" selected>Kedah</ion-select-option>
              <ion-select-option value=">Perak" selected>Perak</ion-select-option>
              <ion-select-option value=">Sabah" selected>Sabah</ion-select-option>
              <ion-select-option value=">Sarawak" selected>Sarawak</ion-select-option>
              <ion-select-option value=">Kelantan" selected>Kelantan</ion-select-option>
              <ion-select-option value=">Terengganu" selected>Terengganu</ion-select-option>
              <ion-select-option value=">Pahang" selected>Pahang</ion-select-option>
              <ion-select-option value=">Pulau Pinang" selected>Pulau Pinang</ion-select-option>
              <ion-select-option value=">Wilayah Persekutuan" selected>Wilayah Persekutuan</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-md="4" offset-md="4">
          <ion-item>
            <ion-icon slot="end" name="call"></ion-icon>
            <ion-input type="number" placeholder="Phone number. Ex: 60123456789">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- <ion-button color="tertiary" routerLink="/risk">Next</ion-button> -->
  
  
    </ion-grid>

  </ion-content>





  


  <div id="container">
    <strong class="capitalize"></strong>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>

