<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Retirement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-card color="warning">
        <ion-row>
          <ion-col size-md="8" offset-md="2">
            <ion-text color="dark" style="text-align:center">
              <H4>Retirement Planning Calculator</H4>
            </ion-text>
          </ion-col>
        </ion-row>
    </ion-card>
  </ion-grid>


<ion-row>
  <ion-col size-md="4" offset-md="4">
    <ion-item>
      <ion-icon slot="end" name="cash"></ion-icon>
      <ion-input type="number" placeholder="Current Age">
      </ion-input>
    </ion-item>
  </ion-col>
</ion-row>


<ion-row>
  <ion-col size-md="4" offset-md="4">
    <ion-item>
      <ion-icon slot="end" name="pencil-outline"></ion-icon>
      <ion-input type="number" placeholder="Age of Retirement">
      </ion-input>
    </ion-item>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col size-md="4" offset-md="4">
    <ion-item>
      <ion-icon slot="end" name="pencil-outline"></ion-icon>
      <ion-input type="number" placeholder="Life expectancy">
      </ion-input>
    </ion-item>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col size-md="4" offset-md="4">
    <ion-item>
      <ion-icon slot="end" name="pencil-outline"></ion-icon>
      <ion-input type="number" placeholder="Monthly expense">
      </ion-input>
    </ion-item>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col size-md="4" offset-md="4">
    <ion-item>
      <ion-icon slot="end" name="pencil-outline"></ion-icon>
      <ion-input type="number" placeholder="Rate of Inflation (%)">
      </ion-input>
    </ion-item>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col size-md="4" offset-md="4">
    <ion-item>
      <ion-icon slot="end" name="pencil-outline"></ion-icon>
      <ion-input type="number" placeholder="Rate of Return on Interest">
      </ion-input>
    </ion-item>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col size-md="4" offset-md="4">
    <ion-item>
      <ion-text>
        <ion-icon slot="end" name="pencil-outline"></ion-icon>
        <ion-input type="number" placeholder="Total Amount Invested in other investments ">
        </ion-input>

      </ion-text>
     
      
    </ion-item>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col>
    <ion-text >
      <h5>Modal Diperlukan: </h5>
    </ion-text>
    <ion-input placeholder="Modal diperlukan"> </ion-input>
  </ion-col>
</ion-row>


</ion-content>