<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cash Flow</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-card>
      <ion-card-header>
        <ion-card-title>INCOME
          <ion-buttons end>
            <ion-button (click)="openIncome()">
              <ion-icon  name="create-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-card-title>
        <ion-card-subtitle>Total Income</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <h2>MYR: </h2>
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>EXPENSES
          <ion-buttons>
            <ion-button (click)="openExpenses()">
              <ion-icon slot="end" name="create-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-card-title>
        <ion-card-subtitle>Total Expenses</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <h2>MYR: </h2>
        <ion-list>
        <ion-item *ngFor ="let expense of expenseList">
          <ion-label>
          <h3>{{ expense.name }}</h3>
          <h4>Amount: {{ expense.amt }}</h4>
        </ion-label>
        </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-grid>

</ion-content>
